{% load static %}
<li>
                <article class="post">
                    <a href="{% url 'post-detail-page' slug='learning-django' %}">
                        <img src="{% static 'blog/images/'|add:post.image %}" alt="django">
                        <div class="post-content">
                            <h3>{{ post.title }}</h3>
                            <p>
                                {{ post.abstract }}
                            </p>
                        </div>
                    </a>
                </article>
            </li>