{% load static %}
<li>
                <article class="post">
                    <a href="">
                        <img src="{% static 'blog/images/python.png' %}" alt="django">
                        <div class="post-content">
                            <h3>blog</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti impedit perferendis
                                perspiciatis. Amet consequatur explicabo fugiat ipsum quisquam voluptatibus. Adipisci
                                asperiores assumenda dolore nostrum placeat vero vitae! Aut, ex sint.</p>
                        </div>
                    </a>
                </article>
            </li>