{% extends 'base.html' %}
{% load static %}
{% block header_refrence %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}
{% block title %}
    My blog
{% endblock %}

{% block content %}




    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/master.jpg' %}" alt="Asoo">
            <h2>salam man Asoo hastam</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem cumque eum id impedit libero minima odit
            quae quos ratione, repellendus temporibus ullam, voluptatum! Maiores, numquam quod? Iusto, obcaecati,
            reiciendis!</p>
    </section>
    <section id="latest_posts">
        <h2>latest Posts</h2>
        <ul>
            {% for post in latest_post %}
                <p>{{ post.title }}</p>
                {% include 'blog/includes/post.html' %}
            {% endfor %}



        </ul>
    </section>
    <section id="about">
        <h2>what do i do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deleniti dolore et eum fuga, labore nulla
            numquam quam unde veritatis. Animi non quas reiciendis vero voluptatem! Autem enim omnis saepe.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque cumque cupiditate dolorum ducimus ea
            est et incidunt libero magnam molestiae molestias nulla, officiis recusandae rem unde vero? Ad aperiam
            asperiores beatae blanditiis, consequatur consequuntur cumque distinctio et eum ex, fuga fugiat illum,
            incidunt iusto magnam modi nemo numquam officia placeat provident quaerat quas ratione repellat sint tempora
            vel vitae.</p>
    </section>
{% endblock %}